<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <style>
      body { font-family: Arial, sans-serif; color: #888f9b; margin: 0; padding:
      0; } .container { max-width: 800px; margin: 40px auto; padding: 40px;
      border: 1px solid #007BFF; border-radius: 10px; background-color: #111827;
      color: #888f9b; } #token { color: #FFFFFF; } a { color: #007BFF;
      text-decoration: none; } .button { display: inline-block; padding: 10px
      20px; background-color: #007BFF; color: #FFFFFF; border-radius: 5px;
      text-decoration: none; font-weight: bold; } .footer { margin-top: 20px;
      text-align: center; color: #888f9b; }
    </style>
  </head>
  <body>
    <div class='container'>
      <img
        src='https://res.cloudinary.com/dtgmhmxlx/image/upload/v1711639169/pilotwizard/pw-noicon_xmmao0.png'
        alt='PilotWizard.ai Logo'
        style='max-width: 200px; display: block; margin: 0 auto 20px;'
      />
      <h2>New Organization Submission,</h2>
      <p>Log into your administrator portal to check new organization
        submissions.</p>
      <div class='footer'>
        <p>Thank you,</p>
        <p>PilotWizard Team</p>
      </div>
    </div>
  </body>
</html>