<p> Heads Up!</p>
<p>
  Per your request, your password has been reset.
</p>

<p>If you did not request this, please contact us immediately at
  <a href='mailto:support@tradejourney.ai'>support@tradejourney.ai</a></p>
<p>Thank you </p>
<p>TradeJourney.ai Team</p>
<!-- Logo and Brand Name -->
<img src="https://res.cloudinary.com/dtgmhmxlx/image/upload/v1705898410/trade_journey/jpgs/TradeJourneyH50_fkmg65.png" alt="TradeJourney.ai" style="width: 25%;"/>