<p>Hey There,</p>
<p>
  Heard you need to reset your password, we got you! Use this code:
  {{resetToken}}
</p>

<p> Please click the link below to reset your password.</p>
<p>
  <a href='https://localhost:3000/auth/reset-password'>
    Reset Your Password
  </a>
</p>

<p>If you did not request a password reset, please ignore this email.</p>
<p>Thank you </p>
<!-- Logo and Brand Name -->
<p>TradeJourney.ai Team</p>