<p>Welcome to TradeJourney.ai,</p>
<p>
  Use this code to verify your email: {{token}}  </p>
  <p>Or click the link below to verify your email</p>
<p>
  <a href='http://localhost:3000/auth/verify-email?token={{token}}'>
    Verify Your Email
  </a>
</p>

<p>Thank you </p>
<!-- Logo and Brand Name -->
<img src="https://res.cloudinary.com/dtgmhmxlx/image/upload/v1705898410/trade_journey/jpgs/TradeJourneyH50_fkmg65.png" alt="TradeJourney.ai" />
<p>TradeJourney.ai Team</p>