<p>Hey There {{email}}</p>
<p>
  You need to verify your email address to complete your registration.Please
  click the link below to verify your email.</p>
<p>
  <a
    href='https://localhost:3000/auth/email-verification?token={{token}}&email={{email}}'
  >
    Verify Your Email
  </a>
</p>

<p>Thank you </p>
<p>TradeJourney.ai Team</p>