<p>Welcome to TradeJourney.ai,</p>
<p>
  Use this code:
  {{token}}, to verify your email. Please click the link below to proceed.</p>
<p>
  <a href='http://localhost:3000/auth/verify-email'>
    Verify Your Email
  </a>
</p>

<p>Thank you </p>
<!-- Logo and Brand Name -->
<p>TradeJourney.ai Team</p>